body{
    margin: 0%;
}
 
div{
    margin: 0%;

}

section{
    margin: 0%;
    width: auto;
    height: auto;
    display: flex;  
}

.container{
    margin: 5px,10px;
    width: auto;
    height: 50px;
    background-color: gray;
}
.navbar{
    margin: 1px;
    width: 70%;
    height: 50;
    background-color: aqua;
}


